:root {
    --bg-color: rgb(20,20,20);
    --project-color: rgb(19,19,19);
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
    --g1: rgb(123, 31, 162);
    --g2: rgb(103, 58, 183);
    --g3: rgb(244, 143, 177);
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    --navlink: #9b7ede;
    --navlink-hover: #067ded;
    /* --navlink-hover: #067ded; */
    
    --c1: rgb(3, 7, 18);
    --c2: rgb(137, 187, 254);
    --c3: rgb(172, 212, 255);
    --link-color: var(0, 26, 255);

    
    --left-color: var(--c1);
    /* --right-color: var(--c2); */
    --right-color: #9b7ede;
    /* --right-color: #FE4A49; */
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: #eef4ed;
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #9b7ede;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #9b7ede;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


p {
  font-family:  "IBM Plex Mono";
  padding-left: 0px;
}
.intro {
  text-transform: uppercase;
  font-size: 15pt;
  max-width: 72vh;
}

.menulinx {
  text-transform: uppercase;
  float:right;
  text-align: right;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /* padding: 0px; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #9b7ede;
    /* color: #9b7ede; */
    /* color: var(--c3); */
    text-decoration: none;
}




/* Portfolio */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;

    background-color: rgb(15,15,15);
}
/* .fancy {
    font-family: "Permanent Marker", cursive;
    font-size: 6em;
    line-height: 0.6em;
    color: #c9b1ff;
    margin-right: auto;
} */

.workspace-title {
    text-align: center;
    padding-bottom: 0px;
}

.workspace-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #b084cc;
  }

.workspace-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.workspace-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgb(155,126,222);
  bottom: 0;
  left: calc(50% - 20px);
}


/* Nav Bar */
nav > ul {
    list-style: none;
    display: flex;
}

nav > ul > li {
    padding: 0px 20px;
    font-weight: 900;
}

nav > ul > li > a:hover {
    color: rgba(155,126,222,1);
}

#contact {
    margin-left: 10px;
    padding: 9px 25px;
    background-color: rgba(155,126,222,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#contact:hover {
    background-color: rgba(155, 126, 222, 0.8);
    color: white;
}






/* Portfolio */
#workspaces-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

#workspaces{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    max-width: 1320px;
    gap: 40px;
}






.workspace {
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    height: 260px;
    width: 300px;
    border-radius: 10px;
    /* cursor: pointer; */
    position: relative;
    /* overflow: hidden; */
    pointer-events: auto;
}

.workspace:hover::before{
    opacity: 1;
}
.workspace:hover > .workspace-border {
    opacity: 0.8;
}

.workspace::before {
    /* background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    ); */
    height: 100%;
    width: 100%;
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0%;
    z-index: 3;
    opacity: 0;
    transition: opacity 500ms;
}

.workspace > .workspace-content {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background-color: var(--project-color);
    border-radius: inherit;
    margin: 1px;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    pointer-events: auto;
}

.workspace > .workspace-border {
    /* background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.6),
        transparent 40%
    ); */
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0%;
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms; /* Add transition here */
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  transition: opacity 300ms;
  background: none;
  border: none;
  color: white; 
  margin-top: 5px;
}

.workspace:hover .delete {
  opacity: 0.7;
}

.workspace:hover .delete:hover {
  opacity: 1.2;
}


.start {
  position: absolute;
  /* top: 50%; */
  top: 0;
  right: 0;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%) scale(2); */
  z-index: 5;
  opacity: 0;
  transition: opacity 300ms;
  background: none;
  border: none;
  color: white; 
  margin-top: 33px;
  /* margin-right: 0px; */
}

.workspace:hover .start {
  opacity: 0.7;
}

.workspace:hover .start:hover {
  opacity:1.2;
}

 
.workspace:hover .tab-wrapper {
  opacity: 0.9;
} 

/* .workspace:hover .label:hover {
  opacity: 0.8;
} */

.label {
  position: absolute;
  /* width: 100%; */
  left: 50%;
  transform: translate(-50%, 0%);
  /* padding: 5px; */
  font-family: "Raleway", sans-serif;

  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  margin-top: 10px;
  /* margin-bottom: 10px; */
  text-align: center;
  font-size: 15px;
  color: white;
  z-index: 9;
  font-weight: bold;
  opacity: 1;
  transition: opacity 150ms;
  width: 80%;
  
}

.workspace-content > .tab-wrapper {
  margin-top: 25px;
  padding-top: 5px;
  z-index: 7;
  opacity: 1;
  transition: opacity 300ms;
  margin-right: 30px;
  margin-left: 0px;
  max-height: 220px; /* Adjust the height as needed */
  overflow-y: auto; /* Make it scrollable */
  pointer-events: auto;
  direction: rtl;
}

/* Scrollbar styling */
.tab-wrapper::-webkit-scrollbar {
  width: 8px;
}

.tab-wrapper::-webkit-scrollbar-track {
  background: var(--project-color); 
}

.tab-wrapper::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 0px;
}

.tab-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.tab-item {
  display: flex;
  align-items: center;
  padding: 5px;
  direction: ltr;
}

.favicon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  padding-left: 10px;
}

.tab-title {
  font-size: 12px;
  color: white;
}



